/* General Styles */
body {
  font-family: "Inter", sans-serif;
  background-color: #f7fafc; /* Light gray background */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main Page Styles */
#main-page {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 28rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #2d3748; /* Dark gray */
}

button {
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  outline: none;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  width: 100%;
  margin-bottom: 1rem;
}

#start-new-game {
  background-color: #4299e1; /* Blue */
  color: white;
}

#start-new-game:hover {
  background-color: #2b6cb0; /* Darker blue */
}

#join-existing-game {
  background-color: #48bb78; /* Green */
  color: white;
}

#join-existing-game:hover {
  background-color: #2f855a; /* Darker green */
}

#join-game-code {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0; /* Light gray border */
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  color: #4a5568; /* Dark gray text */
  margin-bottom: 0.5rem;
}

#code-error {
  color: #e53e3e; /* Red */
  font-size: 0.75rem;
  font-style: italic;
  margin-top: 0.25rem;
  display: none;
}

p.text-gray-600 {
  color: #718096; /* Medium gray */
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1rem;
}

/* Game Page Styles */
#game-page {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 32rem;
  display: none;
}

#game-code {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2d3748; /* Dark gray */
}

#mystery-word-display {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #4299e1; /* Blue */
}

#clue-word-display {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #4a5568; /* Dark gray */
}

#clue-word-display p {
  margin-bottom: 0.5rem;
}

.guess-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 1rem;
}

/* Container for the input and button */
.input-container {
  position: relative;
  width: 100%; /* Ensure the container takes full width */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Vertically align items */
  justify-content: center; /* Center the input and button */
}

/* Style the input field */
#guess-input {
  text-align: center;
  margin: 0;
  flex-grow: 0; /* Prevent the input from growing too wide */
  width: 80%; /* Set the width of the input field */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid #e2e8f0; /* Light gray border */
  border-radius: 0.25rem 0 0 0.25rem; /* Rounded corners on the left */
  padding: 0.5rem 1rem; /* Adjust padding for better alignment */
  font-size: 1rem; /* Adjust font size */
  color: #4a5568; /* Dark gray text */
  z-index: 1; /* Keep input above other elements */
}

.unused-clue {
  color: gray;
  text-decoration: line-through;
  font-style: italic;
}

.guessed-word {
  font-size: 0.8rem;
  font-style: italic;
  color: #a0aec0; /* Lighter gray */
}

#game-message {
  margin-top: 1rem;
  text-align: center;
  font-weight: 600;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  clip-path: inset(-45px);
  box-shadow: -60px 15px,-60px 15px,-60px 15px;
  transform: translateY(-15px);
  animation: l19 1s infinite linear;
}
@keyframes l19{ 
  16.67% {box-shadow:-60px 15px,-60px 15px,19px 15px}
  33.33% {box-shadow:-60px 15px,  0px 15px,19px 15px}
  40%,60%{box-shadow:-19px 15px,  0px 15px,19px 15px}
  66.67% {box-shadow:-19px 15px,  0px 15px,60px 15px}
  83.33% {box-shadow:-19px 15px, 60px 15px,60px 15px}
  100%   {box-shadow: 60px 15px, 60px 15px,60px 15px}
}

.fade-in {
  opacity: 0;
  animation: fadeIn 3s forwards; /* Adjust duration as needed */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}
@keyframes highlight {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: lightgreen;
  }
  100% {
    background-color: transparent;
  }
}

.highlight {
  animation: highlight 1s ease-in-out;
}
